# ==========================================
# StoreHub Backend Environment Variables
# ==========================================

# Configuración de Django
DEBUG=True
SECRET_KEY=django-insecure-change-this-in-production-storehub-fcc-buap-2036
ALLOWED_HOSTS=localhost,127.0.0.1,web,storehub-backend-xhr1.onrender.com,*

# Base de datos (MySQL)
DB_NAME=storehub_db
DB_USER=storehub_user
DB_PASSWORD=storehub_password
DB_HOST=db
DB_PORT=3306
MYSQL_ROOT_PASSWORD=root_password

# URL de Base de Datos unificada (Opcional - util para CleverCloud / Render)
# DATABASE_URL=mysql://storehub_user:storehub_password@db:3306/storehub_db
